<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    Welcome to {{title}}!
  </h3>
 </div>

<input type="text" [(ngModel)] = "name">
<p>{{name}}</p>


<app-server></app-server>

<!-- <app-servers></app-servers> -->

<!-- <div app-servers></div> -->

<div class="app-servers"></div>
<a routerLink="/testroute" routerLinkActive = "active"> Routing tester </a><br>
<a routerLink="/sampledirective" routerLinkActive = "active"> sample directive </a><br>
<a routerLink="/hostlistener" routerLinkActive="active"> Host Listener </a><br>

<h2>Router Views : </h2>
<router-outlet></router-outlet>
